* {
    box-sizing: border-box;
}

.App {
    display: flex;
    width: 100%;
   
}

.App .column {
    width: 30%;
}

.droppable-col {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px 0 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(62, 208, 21);
    border: 3px;
}

.item {
    margin-bottom: 10px;
    background-color: rgb(0, 210, 147);
    color: rgb(255, 255, 255);
    border: 1px solid white;
    padding: 5px;
    border-radius: 7px;
}

.item.dragging {
    background-color: coral;
}